h1{
    color:red;
}
.clock-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-img{
    width: 20rem;
}

.alarm-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 5rem;
    margin: 1rem;
}

label{
    color: rgb(58, 6, 244);
}


.btn-section{
    display: flex;
    justify-content:center;
    align-items: center;

}

.set-btn{
    color: rgb(1, 1, 17);
    width: 8rem;
    height: 2rem;
    border-radius: 0 10px;

    background-color: blue;
    margin-right: 10rem;
    
}


.clr-btn{
    color: rgb(1, 1, 17);
    width: 8rem;
    height: 2rem;
    border-radius: 0 10px;

    background-color: rgb(255, 0, 0);
    /* margin-right: 10rem; */
    
}